<hr>
<table border= 1>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th colspan="2">Operations</th>
    </tr>
    <tr *ngFor="let i of products">
        <td>{{i.id}}</td> 
        <td>{{i.name}}</td>
        <td>{{i.description}}</td>
        <td>{{i.price}}</td>
        <td>{{i.quantity}}</td>
        <td><button [routerLink]="['/update/', i.id]">Update</button></td>
        <td><button (click)=deleteproduct(i.id)>Delete</button></td>
    </tr>
</table>